<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../assets/styles/css/main.css" rel="stylesheet" type="text/css">
        <title>Search</title>
    </head>
    <body>
        <div class="logo">
            <img id="google_logo" src="../../assets/images/googlelogo_light_color.png">
        </div>
        <form action="https://www.google.com/search">
            <input type="text" name="q">
            <input type="submit" value="Google Search">
        </form>
    </body>
</html>


<!--<a class="gb_E" aria-label="Buscar imágenes (se abre en una pestaña nueva)" data-pid="2" href="https://www.google.com/imghp?hl=es&amp;ogbl" target="_top">Imágenes</a>-->